.nav-links a:nth-child(3) {
	border-bottom: #c9a16e solid 2px;
}
.nav-links a:nth-child(4) {
	border-bottom: none;
}

.picks-page {
	width: 100%;
}

.picks-page h1 {
	text-align: center;
	margin: 0 auto;
}

.picks-page h1:nth-child(1) {
	font-size: 16px;
	letter-spacing: 1px;
	margin-top: 3em;
}

.picks-page h1:nth-child(2) {
	font-weight: 300;
}

.picks {
	width: 90%;
	margin: auto;
	margin-bottom: 2em;
	position: relative;
}

.picks img {
	width: 100%;
	transition: filter 0.2s linear;
	cursor: pointer;
}

.picks img:hover {
	filter: contrast(60%) brightness(120%);
}

.picks-icon {
	display: flex;
	flex-direction: column;
	height: 6em;
	width: 3em;
	position: absolute;
	bottom: 4px;
	right: 0;

	background-color: #ededed7e;
}

.picks-icon i {
	width: 3em;
	height: 3em;
	padding-top: 1em;
	padding-left: 1em;
}

.picks-icon i:hover {
	background-color: #ffffff79;
	cursor: pointer;
}

@media screen and (min-width: 599px) {
	.picks-page h1:nth-child(1) {
		margin-top: 4em;
	}
}

@media screen and (min-width: 799px) {
	.picks-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 1fr 1fr;
		gap: 1.5em;
		padding-bottom: 2em;
	}

	.picks {
		width: 100%;
		height: 100%;
		margin-bottom: 0;
	}

	.picks img {
		width: 100%;
		height: 100%;
	}
}

@media screen and (min-width: 1300px) {
	.picks-page {
		width: 80%;
		margin: auto;
	}
}
