// **********COLOR VARIABLES**********
$backgroundColor: #fff;
$goldColor: #c9a16e;
$goldBorder: #c9a16e 2px solid;
$borderColor: #a9a9a9 1px solid;
$blackColor: #000;
$cardTextColor: #e1e0e0;
// **********************************

.nav-links a {
	&:nth-child(5) {
		border-bottom: $goldBorder;
	}
	&:nth-child(4) {
		border-bottom: none;
	}
}

.special-container {
	border-top: #c9a16e 1px solid;
	padding-bottom: 20px;
}

.special {
	height: 190px;
	background-size: cover;
	background-position: center;

	color: $cardTextColor;
	text-align: center;
	text-shadow: 1px 1px 10px black;
	h2 {
		font-weight: bold;
		font-size: 1.2em;
		text-transform: initial;
		padding-top: 2em;
	}
	button {
		display: none;
	}
	p {
		font-weight: lighter;
	}
}

.special-container:nth-child(2) > div {
	background-image: url(../assets/images/special-bg1.jpeg);
}

.special-container:nth-child(3) > div {
	background-image: url(../assets/images/special-bg2.jpg);
}

.special-container:nth-child(4) > div {
	background-image: url(../assets/images/special-bg3.jpg);
}

.special-container:nth-child(5) > div {
	background-image: url(../assets/images/special-bg4.jpg);
}

.special-container:nth-child(6) > div {
	background-image: url(../assets/images/special-bg5.jpg);
}

@media screen and (min-width: 599px) {
	.special-container {
		padding-bottom: 40px;
	}

	.special {
		height: 440px;
		margin-top: 40px;
		h2 {
			font-size: 2.6em;
		}
		p {
			font-size: 20px;
		}
	}

	.special button {
		display: initial;
		color: $cardTextColor;
		background-color: transparent;
		border: solid 1px $cardTextColor;
		text-shadow: 1px 1px 10px black;

		text-transform: uppercase;
		padding: 1em 2em;
		margin-bottom: 2em;
		margin-top: 3em;
		font-size: 0.8em;
		cursor: pointer;
		&:hover {
			border-bottom: solid 2px $cardTextColor;
		}
	}
}

@media screen and (min-width: 1300px) {
	.special-container {
		width: 70%;
		margin: auto;
	}
}
