/* latin-ext */
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 100;
	font-display: swap;
	src: url(/fonts/KFOkCnqEu92Fr1MmgVxGIzIXKMnyrYk.woff2) format("woff2");
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
		U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 100;
	font-display: swap;
	src: url(/fonts/KFOkCnqEu92Fr1MmgVxIIzIXKMny.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
		U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(/fonts/KFOlCnqEu92Fr1MmSU5fChc4AMP6lbBP.woff2) format("woff2");
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
		U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(/fonts/KFOlCnqEu92Fr1MmSU5fBBc4AMP6lQ.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
		U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(/fonts/KFOmCnqEu92Fr1Mu7GxKKTU1Kvnz.woff2) format("woff2");
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
		U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(/fonts/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
		U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url(/fonts/KFOlCnqEu92Fr1MmEU9fChc4AMP6lbBP.woff2) format("woff2");
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
		U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url(/fonts/KFOlCnqEu92Fr1MmEU9fBBc4AMP6lQ.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
		U+FEFF, U+FFFD;
}

html {
	box-sizing: border-box;
	font-size: 10px;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	background-color: #e8e8e8;
	font-size: 1.6rem;
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
	overflow-x: hidden;
}

header {
	position: sticky;
	top: 0px;
	background-color: #ffffff;
	z-index: 99;
}

nav {
	display: flex;
	flex-direction: column;
}

nav a {
	text-decoration: none;
	color: #000;
}

.upper-nav {
	display: flex;
	padding: 0.8em;
	border-bottom: darkgray 1px solid;
	position: relative;
}

.burger {
	width: 25px;
	height: 20px;
	cursor: pointer;
	position: absolute;
	top: 1em;
	left: 1.5em;
}

.burger-line {
	background-color: #000;
	height: 2px;
	width: 21px;
	margin-bottom: 5px;
}

.burger.animate div:nth-child(1) {
	transform: rotate(45deg) translate(6px, 4px);
	background-color: #c9a16e;
}
.burger.animate div:nth-child(2) {
	opacity: 0;
}
.burger.animate div:nth-child(3) {
	transform: rotate(-45deg) translate(6px, -4px);
	background-color: #c9a16e;
}

.nav-icons {
	margin-left: auto;
	margin-right: 2em;
	display: flex;
	align-items: center;
}

.nav-icons i {
	margin: 0 0.5em;
	cursor: pointer;
}

.lower-nav {
	min-height: 3em;
	width: 100%;
	display: flex;
	align-items: center;
	border-bottom: darkgray 1px solid;
	overflow-x: auto;
	white-space: nowrap;
}

nav h1 {
	font-size: 1.3em;
	font-weight: 300;
	margin: 0;
	padding-left: 2em;
	text-transform: uppercase;
}

.nav-links a {
	font-size: 0.7em;
	font-weight: 100;
	margin: 1em;
	padding: 0.5em 1em;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.nav-links a:nth-child(4) {
	border-bottom: #c9a16e solid 2px;
}

.nav-links a:hover {
	color: #c9a16e;
}

// ****************************************************

.dropdown-container {
	width: 100vw;
	height: 100vh;
	position: absolute;
	transition: transform 0.3s ease-in-out;
	transform: translateY(-120%);
	overflow: auto;
}

.dropdown {
	background-color: #ffffff;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	width: 100%;
	min-height: 130vh;
}

.menu-slide {
	transition: transform 0.3s ease-in-out;
	transform: translateY(0);
	position: absolute;
}

.menu-slide a:hover {
	border-left: #c9a16e solid 2px;
}

.dropdown div a {
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0.7em 0.7em 0.7em 1.7em;
}

.dropdown div {
	display: flex;
	border-bottom: darkgray 1px solid;
}
.dropdown div:last-child {
	border-bottom: none;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

.dropdown .dropdown-icons {
	height: 4.5em;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}
.dropdown-icons i {
	align-self: center;
	justify-self: center;
	padding: 0.5em;
	cursor: pointer;
}

.dropdown-icons i:hover {
	color: #c9a16e;
}

.sites-down {
	flex-direction: column;
}

.sites-down a:nth-child(2),
.sites-down a:nth-child(3),
.sites-down a:nth-child(4) {
	opacity: 0;
}

.sites-down.sites-drop a:nth-child(2),
.sites-down.sites-drop a:nth-child(3),
.sites-down.sites-drop a:nth-child(4) {
	opacity: 1;
}

.sites-drop .fa-chevron-down {
	transform: rotate(180deg);
}

// *********************************************

h2 {
	text-transform: uppercase;
	font-weight: lighter;
	text-align: center;
}

.crazy-img-part {
	height: calc(700px + 100vw);
	border-bottom: #c9a16e 1px solid;
	padding-bottom: 1em;
	position: relative;
}

.top-img-div {
	width: 100%;
	height: 700px;
	z-index: -1;
}

.top-img-div img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.main-page-heading-div {
	width: 75%;
	position: absolute;
	top: 60px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

.main-page-heading-div img {
	width: 100%;
	margin: auto;
	z-index: 1;
}

.main-page-poster-div {
	width: 90%;
	position: absolute;
	top: 230px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

.main-page-poster-div img {
	width: 100%;
}

.bottom-img-div {
	width: 100%;
	height: 100vw;
	position: absolute;
	top: 700px;
	left: 0;
	z-index: -1;
}

.bottom-img-div img {
	width: 100%;
	height: 100%;
	padding-bottom: 1.2em;
	object-fit: cover;
}

// ************************************************

.events {
	border-bottom: #c9a16e solid 1px;
}

.events h2 {
	font-weight: bold;
	font-size: 1.2em;
}

.events > h2 {
	font-weight: lighter;
}

.events p {
	font-weight: lighter;
	text-shadow: 1px 1px 10px black;
}
.events span {
	font-weight: bold;
}

.card {
	position: relative;
	width: 90%;
	min-height: calc(450px - 20vw);
	margin: auto;
	margin-bottom: 1em;
	text-align: center;
	line-height: 1.3;
	color: rgb(225, 224, 224);
	overflow: hidden;
}

.card h2 {
	text-shadow: 1px 1px 10px black;
}

.card img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100%;
	object-fit: cover;
	padding-bottom: 1em;
	z-index: -1;
}

.overlay {
	max-height: 100%;

	padding: 1.5em;
}

.overlay button {
	color: rgb(225, 224, 224);
	background-color: transparent;
	border: solid 1px rgb(225, 224, 224);
	text-shadow: 1px 1px 10px black;

	text-transform: uppercase;
	padding: 1.5em 5em;
	margin-bottom: 2em;
	font-size: 10px;
	cursor: pointer;
}

.overlay button:hover {
	border-bottom: solid 2px rgb(225, 224, 224);
}

.speakers {
	width: 100%;
	border-bottom: #c9a16e solid 1px;
	margin-top: 2em;
	padding-bottom: 2em;
}

.speakers h2 {
	font-size: 1.2em;
}

.speakers img {
	width: 100%;
}

.speaker {
	width: 90%;
	margin: auto;
	font-weight: lighter;
	line-height: 1.5;
	padding-bottom: 1em;
}

.speaker h3 {
	text-align: center;
	font-weight: lighter;
	margin-top: 5px;
}

.speaker p {
	font-size: 15px;
}

.hosts {
	width: 100%;
	margin-top: 2em;
	padding-bottom: 2em;
}

.hosts img {
	width: 100%;
}

.host {
	width: 90%;
	margin: auto;
	font-weight: lighter;
	line-height: 1.5;
	padding-bottom: 1em;
}

.host h3 {
	text-align: center;
	font-weight: lighter;
	margin-top: 5px;
}

.host p {
	font-size: 15px;
}

.footer-icons {
	height: 170px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	border-top: #c9a16e solid 1px;
	border-bottom: #c9a16e solid 1px;
	padding: 0 2em;
	cursor: pointer;
}

.footer-icons i {
	justify-self: center;
	align-self: center;
}

.footer-icons i:hover {
	color: #c9a16e;
}

.links {
	display: flex;
	flex-direction: column;
	align-items: center;

	font-size: 12px;
	padding-top: 2em;
}

.links a {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;

	color: #000;
	font-weight: lighter;
	padding: 2em;
}

.links a:hover {
	color: #c9a16e;
}

.copyright {
	text-align: center;
	text-transform: uppercase;
	font-weight: lighter;
	font-size: 14px;

	padding-top: 3em;
	padding-bottom: 5em;
}

// *******************************************

@media screen and (min-width: 599px) {
	.dropdown {
		width: 45%;
	}

	.main-page-heading-div {
		width: 70%;
	}

	.crazy-img-part {
		height: calc(700px + 110vw);
	}

	.main-page-poster-div {
		max-height: calc(700px + 100vw);
	}

	.bottom-img-div {
		height: 110vw;
	}

	.events-grid {
		display: grid;
		grid-template-areas:
			"top top"
			"second1 second2"
			"third1 third2"
			"fourth1 fourth2"
			"bottom bottom";
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1.5fr 1.5fr 1.5fr 1fr;
		width: 90%;
		gap: 1em;
		margin: auto;
	}

	.card:nth-child(1) {
		grid-area: top;
	}

	.card:nth-child(2) {
		grid-area: second1;
	}

	.card:nth-child(3) {
		grid-area: second2;
	}

	.card:nth-child(4) {
		grid-area: third1;
	}

	.card:nth-child(5) {
		grid-area: third2;
	}

	.card:nth-child(6) {
		grid-area: fourth1;
	}

	.card:nth-child(7) {
		grid-area: fourth2;
	}

	.card:nth-child(8) {
		grid-area: bottom;
		margin-bottom: 2em;
	}

	.card {
		padding: 0;
		margin: 0;
		width: 100%;
	}

	.card img {
		padding-bottom: 0;
	}

	.speaker,
	.host {
		display: grid;
		grid-template-columns: 1fr 1.5fr;
	}

	.person-img {
		width: 90%;
	}
}

@media screen and (min-width: 799px) {
	nav h1 {
		font-size: 5em;
		padding-left: 0;
	}

	.nav-h1 {
		margin: auto;
		padding-left: 16%;
	}

	.lower-nav {
		justify-content: space-around;
	}

	.lower-nav a {
		margin-left: 0;
		margin-right: 0;
	}

	.nav-icons {
		justify-content: space-around;
		margin: 0 1em;
	}

	.nav-icons i {
		padding: 0 1em;
	}

	.burger {
		top: 3em;
		left: 2em;
	}

	.main-page-poster-div {
		top: 250px;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		width: 75%;
	}
}

@media screen and (min-width: 1025px) {
	.main-page-heading-div {
		width: 60%;
	}

	.main-page-poster-div {
		top: 300px;
	}

	.events {
		max-width: 1400px;
		margin: auto;
	}

	.overlay h2 {
		font-size: 2em;
	}

	.events h2,
	.speakers h2,
	.hosts h2 {
		font-size: 2em;
	}

	.speakers,
	.hosts {
		max-width: 1400px;
		margin: auto;
	}

	.speaker-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat(5, 1fr);
	}

	.speaker {
		height: 100%;
	}

	.host-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}

	.host {
		height: 100%;
	}

	.speaker img,
	.host img {
		margin-top: 3.5em;
	}
}

@media screen and (min-width: 1300px) {
	.crazy-img-part {
		height: calc(700px + 80vw);
	}
	.main-page-heading-div {
		width: 50%;
	}

	.main-page-poster-div {
		width: 50%;
		top: 350px;
	}

	.bottom-img-div {
		height: 80vw;
	}
}
